:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

/*font-family: Merriweather Sans */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
 
  background-color: var(--body-bg-color);
  height: 100vh;
  width: 100vw;

 
}
/*
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}*/

main .flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.flex .perfil{
  min-width: 308px;
  border: 2px solid rgb(0, 255, 94);
  max-width: 348px;
}

.flex .projetos{
  border: 2px solid rgb(0, 25, 94);
  min-width: 68%;
}



.flex .perfil .caixaInf{/*modelando todas caixas na parte perfil*/

  background-color: var(--bg-cards);
  color: var(--text-color);
  max-width: 347px;
  min-height: 288px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 20px;
  margin: 30px;
}

.flex .projetos .caixaProj{ /*modelando todas caixas na parte projetos*/
  text-align: center;
  background-color: var(--bg-cards);
  color: var(--text-color);
  max-width: 952px;

  border-radius: 20px;
  margin: 30px;
  height: 200px;
}
